In [64]:
import pandas as pd
import numpy as np

In [65]:
# TIMES
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [66]:
# Which of these formats DON'T work?
#'2016 Jul 1', '7/1/2016', '1/7/2016', 'July 1, 2016', '2016-07-01', '2016/07/01'

In [67]:
rng = pd.date_range('7/1/2016', periods = 10, freq = 'D')
rng

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [68]:
rng = pd.date_range('1/7/2016', periods = 10, freq = 'D')
rng

DatetimeIndex(['2016-01-07', '2016-01-08', '2016-01-09', '2016-01-10',
               '2016-01-11', '2016-01-12', '2016-01-13', '2016-01-14',
               '2016-01-15', '2016-01-16'],
              dtype='datetime64[ns]', freq='D')

In [69]:
rng = pd.date_range('July 1, 2016', periods = 10, freq = 'D')
rng

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [70]:
rng = pd.date_range('2016-07-01', periods = 10, freq = 'D')
rng

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [71]:
rng = pd.date_range('2016/07/01', periods = 10, freq = 'D')
rng
type(rng[0])

pandas._libs.tslib.Timestamp

In [72]:
# Is '7/1/2016 in January or July?
#July

In [73]:
# What is the class of an individual object held in the date_range?
#Timestamp

In [74]:
# TIME STAMPS VS TIME SPANS
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [75]:
# You can also more details 
pd.Timestamp('2016-07-10 10')

Timestamp('2016-07-10 10:00:00')

In [76]:
pd.Timestamp('2016-07-10 8 pm')

Timestamp('2016-07-10 20:00:00')

In [77]:
# Or even more...
pd.Timestamp('2016-07-10 10:15')

Timestamp('2016-07-10 10:15:00')

In [78]:
# How much detail can you add?

In [79]:
pd.Timestamp('2016-07-10 10:15:15.123456789')

Timestamp('2016-07-10 10:15:15.123456789')

In [80]:
# What are some properties of timestamps? Try them out.
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components
t = pd.Timestamp('2016-07-10 10:15')

In [81]:
t.quarter

3

In [82]:
t.dayofweek

6

In [83]:
pd.Timestamp('2016-07-10 10:15:15.123456789')

Timestamp('2016-07-10 10:15:15.123456789')

In [84]:
# TIME SPANS
pd.Period('2016-01')

Period('2016-01', 'M')

In [85]:
p = pd.Period('7/2016')
t = pd.Timestamp('7/21/2016')

In [86]:
p.start_time < t and p.end_time > t

True

In [87]:
p.start_time < t < p.end_time

True

In [88]:
# What's that extra info above? How does it get set?

In [89]:
pd.Period('2016-01-01')

Period('2016-01-01', 'D')

In [90]:
pd.Period('2016-01-01 10')

Period('2016-01-01 10:00', 'H')

In [91]:
pd.Period('2016-01-01 10:10')

Period('2016-01-01 10:10', 'T')

In [92]:
pd.Period('2016-01-01 10:10:10')

Period('2016-01-01 10:10:10', 'S')

In [93]:
# What's the most detailed Period you can get?
#micro-second

In [94]:
pd.Period('2016-01-01 10:10:10.12')

Period('2016-01-01 10:10:10.120', 'L')

In [95]:
pd.Period('2016-01-01 10:10:10.123456789')

Period('2016-01-01 10:10:10.123456', 'U')

In [96]:
# How can you make multiple time periods? 
# Hint look for analogy with pd.date_range() above

In [97]:
pd.period_range('7/1/2016', periods = 10)

PeriodIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
             '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
             '2016-07-09', '2016-07-10'],
            dtype='period[D]', freq='D')

In [98]:
pd.period_range('7/1/2016 10:15', periods = 10, freq = 'H')

PeriodIndex(['2016-07-01 10:00', '2016-07-01 11:00', '2016-07-01 12:00',
             '2016-07-01 13:00', '2016-07-01 14:00', '2016-07-01 15:00',
             '2016-07-01 16:00', '2016-07-01 17:00', '2016-07-01 18:00',
             '2016-07-01 19:00'],
            dtype='period[H]', freq='H')

In [99]:
pd.period_range('7/1/2016 10:15', periods = 10, freq = '60T')

PeriodIndex(['2016-07-01 10:15', '2016-07-01 11:15', '2016-07-01 12:15',
             '2016-07-01 13:15', '2016-07-01 14:15', '2016-07-01 15:15',
             '2016-07-01 16:15', '2016-07-01 17:15', '2016-07-01 18:15',
             '2016-07-01 19:15'],
            dtype='period[60T]', freq='60T')

In [100]:
# TIME OFFSETS
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00')

In [101]:
pd.Period('2016-01-01 10:10') + pd.Timedelta('1 day')

Period('2016-01-02 10:10', 'T')

In [102]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('1 day')

Timestamp('2016-01-02 10:10:00')

In [103]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('15 ns')

Timestamp('2016-01-01 10:10:00.000000015')

In [104]:
# FANCY FREQUENCY SETTING
# Only want business days
pd.period_range('2016-01-01 10:10', freq = 'B', periods = 10)

PeriodIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
             '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
             '2016-01-13', '2016-01-14'],
            dtype='period[B]', freq='B')

In [105]:
# It's possible to combine frequencies. What if you want to advance by 25 hours each day. What are the 2 ways to do it?
p1 = pd.period_range('2016-01-01 10:10', freq = '25H', periods = 10)

In [106]:
p2 = pd.period_range('2016-01-01 10:10', freq = '1D1H', periods = 10)

In [107]:
p1

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [108]:
p2

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [109]:
# What are some other combos you can produce?
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases
pd.date_range('2016-01-01 10:10', periods=10, freq='1D10U')

DatetimeIndex([       '2016-01-01 10:10:00', '2016-01-02 10:10:00.000010',
               '2016-01-03 10:10:00.000020', '2016-01-04 10:10:00.000030',
               '2016-01-05 10:10:00.000040', '2016-01-06 10:10:00.000050',
               '2016-01-07 10:10:00.000060', '2016-01-08 10:10:00.000070',
               '2016-01-09 10:10:00.000080', '2016-01-10 10:10:00.000090'],
              dtype='datetime64[ns]', freq='86400000010U')

**How can we index a time series with a date_range?**

In [110]:
# INDEXING WITH TIME OBJECTS
# You can use these objects for indices
# Let's start with using a date range as above
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng
pd.Series(range(len(rng)), index = rng)

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int64

In [111]:
# You can also use time period indices, in cases where it makes more sense 
# to think about your index as a time span rather than a single point in time

periods = [pd.Period('2016-01'), pd.Period('2016-02'), pd.Period('2016-03')]
ts = pd.Series(np.random.randn(len(periods)), index = periods)
ts

2016-01    0.535929
2016-02   -0.940132
2016-03   -1.005521
Freq: M, dtype: float64

In [112]:
# What type is the index for ts?
type(ts.index)

pandas.core.indexes.period.PeriodIndex

**period index**

In [113]:
# Experiment with various indices
# Hint: does ts['2016'] work? 
ts['2016-01']

0.53592925236273925

In [114]:
ts['2016']

2016-01    0.535929
2016-02   -0.940132
2016-03   -1.005521
Freq: M, dtype: float64

In [115]:
ts['2016-']

2016-01    0.535929
2016-02   -0.940132
2016-03   -1.005521
Freq: M, dtype: float64

In [116]:
# Timestamped data can be convereted to period indices with to_period and vice versa with to_timestamp
ts = pd.Series(range(10), pd.date_range('07-10-16 8:00', periods = 10, freq = 'H'))
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int64

In [117]:
ts_period = ts.to_period()
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int64

In [118]:
ts_period['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of overlap with time periods

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int64

In [119]:
ts['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of include with timestamps

2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
Freq: H, dtype: int64

In [120]:
#European style formatted date string
pd.to_datetime('04/03/2016', dayfirst = True)

Timestamp('2016-03-04 00:00:00')

In [121]:
#generate string represenation in a desired format
pd.to_datetime('04/03/2016', dayfirst = True).strftime('%Y-%m-%d')

'2016-03-04'

**more neat indexing**

In [122]:
nums = list(range(20))
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [123]:
nums[::2]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [131]:
ts_period[pd.Period('July 10, 2016 10', freq = '60T')::3]

2016-07-10 10:00    2
2016-07-10 13:00    5
2016-07-10 16:00    8
Freq: H, dtype: int64

In [132]:
ts_period['July 10, 2016 10'::3]

2016-07-10 10:00    2
2016-07-10 13:00    5
2016-07-10 16:00    8
Freq: H, dtype: int64